<html>
<head>
<link rel="stylesheet" href="/css/estilos.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>

<body>
	<nav class="site-header sticky-top py-1">
		<div
			class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="py-2" href="/"> <svg xmlns="http://www.w3.org/2000/svg"
					width="24" height="24" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round"
					stroke-linejoin="round" class="d-block mx-auto">
					<circle cx="12" cy="12" r="10"></circle>
					<line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
					<line x1="9.69" y1="8" x2="21.17" y2="8"></line>
					<line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
					<line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
					<line x1="14.31" y1="16" x2="2.83" y2="16"></line>
					<line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
			</a> 
			<a class="py-2 d-md-inline-block" href="/client">Adm.Clientes</a> 
                <a class="py-2 d-md-inline-block" href="/employee">Adm.Empleados</a>
                <a class="py-2 d-md-inline-block" href="/person">Adm.Personas</a> 
                <a class="py-2 d-md-inline-block" href="/store">Adm.Locales</a>
                <a class="py-2 d-md-inline-block" href="/product">Adm.Productos</a>
                <a class="py-2 d-md-inline-block" href="/batch">Adm.Lotes</a>
                <a class="py-2 d-md-inline-block" href="/pedido">Adm.Pedidos</a>
		</div>
	</nav>
	<h2>Actualizacion de Productos</h2>

	<div class="card bg-light col-md-7 mt-5 p-3 mx-auto">
  
       <form action="#" th:action="@{/product/update}" th:object="${product}"
			method="post">
			<input type="hidden" th:field="*{idProduct}"  />

			<div class="form-group">
				<label for="description">Descripcion</label> <input type="text"
					class="form-control" name="description" value="" th:field="*{description}"
					placeholder="Escribi la descripcion..." />
			</div>

			<div class="form-group">
				<label for="price">Precio</label> <input type="text"
					class="form-control" name="price" th:field="*{price}"
					placeholder="Escribi el precio..." />
			</div>
            
            <div class="form-group">
				<label for="size">Talle</label> <input type="text"
					class="form-control" name="size" th:field="*{size}"
					placeholder="Escribi el talle..." />
            </div>
            
            <div class="form-group">
				<label for="startDate">Fecha de alta</label> <input type="date"
					class="form-control" name="startDate" th:field="*{startDate}"
					placeholder="Escribi la fecha..." />
            </div>
				<input class="update" type="submit" value="Editar Producto" />
		</form>

		<form action="#" th:action="@{/product/delete/{id}(id=${product.idProduct})}"
			method="post">
			<br>
			<input class="update" type="submit" value="Borrar Lote" />
		</form>
	</div>
</body>

</html>