<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>LOCALES</title>

<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/modern-business.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav
		class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="">Locales</a></li>

				</ul>
			</div>
		</div>
	</nav>

	<header> </header>

	<!-- Page Content -->
	<div class="container">

		<h1 class="my-4">Locales</h1>



		<!-- Features Section -->
		<div class="row">
			<div class="col-lg-6">
				<p>Lista de locales:</p>
				<table border="1px">
					<thead>
						<tr>
							<th>Telefono</th>
							<th>Direccion</th>
							<th>Latitud</th>
							<th>Longitud</th>
							<th>Gerente</th>
							<th>View</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="local : ${locales}">
							<td><span th:text="${local.telefono}" /></td>
							<td><span th:text="${local.direccion}" /></td>
							<td><span th:text="${local.latitud}" /></td>
							<td><span th:text="${local.longitud}" /></td>
							<td><span th:text="${local.gerente}" /></td>
							<td><a th:href="@{/local/{id}(id=${local.id})}">View</a></td>




						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				<a class="btn btn-lg btn-secondary btn-block" href="/local/new">Crear
					nuevo local</a>

			</div>
		</div>
		<!-- /.row -->

		<hr>


		<!-- Bootstrap core JavaScript -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>