
<html>
<head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>

<body>

	¡
	<form action="#" th:action="@{/local/update}" th:object="${local}"
		method="post">
		<input type="hidden" th:field="*{id}" />
		<p>
			Telefono: <input type="text" th:field="*{telefono}" />
		<h2>Ubicacion</h2>
		Direccion:<input type="text" th:field="*{direccion}" /> Latitud:<input
			type="text" th:field="*{latitud}" /> Longitud:<input type="text"
			th:field="*{longitud}" /> <br> Gerente: <input type="text"
			th:field="*{gerente}" />

		</p>
		<input type="submit" value="Edit Local" />
	</form>

	<form action="#" th:action="@{/local/delete/{id}(id=${local.id})}"
		method="post">
		<br> <input class="btn btn-lg btn-secondary btn-block"
			type="submit" value="Borrar Local" />
	</form>

</body>

</html>