<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Iniciar Sesion - Grupo 8</title>
		<!--   <link rel="stylesheet" href="static/css/login.css"> -->
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		
	</head>
<body>
    <div class="card bg-light col-md-3 mt-5 p-4 mx-auto " >
        
             
            <form th:action="@{/loginprocess}" method="post">
            <div class="form-group mt-4">
            
                
                <h4>Inicio de sesión</h4>
                 
                <label for="username">Usuario</label>
                <input type="text" class="form-control" name="username"  placeholder="Escribi tu usuario..." >
            </div>
            
             <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" name="password"    placeholder="Escribe tu contraseña..." >
            </div>
            <br>
       
            <button type="submit" class="btn btn-success ml-6 px-4 ">
                
            Ingresar
            </button>
            
            <h5 class="display-5 alert alert-info mt-4">Logout Successfully.</h5>
           <br>
         <div th:if="${error != null}" class="alert alert-danger">
		    	Username o password incorrecto. Por favor, intentelo nuevamente.
		    </div>

        </form>
        
        </div>
        
      
</body>
</html>

