<html>
<head>
<link rel="stylesheet" href="/css/estilos.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>

<body>
	<nav class="site-header sticky-top py-1">
		<div
			class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="py-2" href="#"> <svg xmlns="http://www.w3.org/2000/svg"
					width="24" height="24" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round"
					stroke-linejoin="round" class="d-block mx-auto">
					<circle cx="12" cy="12" r="10"></circle>
					<line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
					<line x1="9.69" y1="8" x2="21.17" y2="8"></line>
					<line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
					<line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
					<line x1="14.31" y1="16" x2="2.83" y2="16"></line>
					<line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
		 	      </a>
		        <a class="py-2 d-md-inline-block" href="/client">Adm.Clientes</a> 
                <a class="py-2 d-md-inline-block" href="/employee">Adm.Empleados</a>
                <a class="py-2 d-md-inline-block" href="/person">Adm.Personas</a> 
                <a class="py-2 d-md-inline-block" href="/store">Adm.Locales</a>
                <a class="py-2 d-md-inline-block" href="/product">Adm.Productos</a>
                <a class="py-2 d-md-inline-block" href="/batch">Adm.Lotes</a>
                <a class="py-2 d-md-inline-block" href="/pedido">Adm.Pedidos</a>
		</div>
	</nav>
	<h2>Actualizacion de Locales</h2>
	<div class="card bg-light col-md-7 mt-5 p-3 mx-auto">
		<form action="#" th:action="@{/store/update}" th:object="${store}"
			method="post">
			<input type="hidden" th:field="*{idStore}" />
			<div class="form-group">
				<label for="phone">Telefono</label> <input type="text"
					class="form-control" name="phone" value="" th:field="*{phone}"
					placeholder="Escribi su telefono..." />
			</div>
			<div class="form-group">
				<label for="address">Ubicacion</label> <input type="text"
					class="form-control" name="address" th:field="*{address}"
					placeholder="Escribi su direccion..." />
			</div>
			<div class="form-group">
				<label for="latitude">Latitud</label> <input type="text"
					class="form-control" name="latitude" value=""
					th:field="*{latitude}" placeholder="Escribi la latitud..." />
			</div>
			<div class="form-group">
				<label for="longitude">Longitud</label> <input type="text"
					class="form-control" name="longitude" value=""
					th:field="*{longitude}" placeholder="Escribi la longitud..." /> 
            </div>
				<div class="form-group">
                <label for="manager">Manager</label>
                <select placeholder="manager" th:field="*{manager.id}">
	            <option th:each="m : ${managers}" th:value="${m.id}" th:text="${m.name}"></option>
	             </select>     
            </div>
            		<input class="update" type="submit" value="Edit Local" />
		</form>

		<form action="#" th:action="@{/store/delete/{id}(id=${store.idStore})}"
			method="post">
			<br>
			<input class="update" type="submit" value="Borrar Local" />
		</form>
            <h2>Lotes</h2>
     <table class="table table-bordered table-stripped table-hover table-sm">
	<thead class="thead-dark">
		<tr>
		            <th>IdLote</th>
			        <th>IdProducto</th>
                    <th>Cantidad</th>
                    <th>Cantidad Total</th>
                    <th>Fecha de Ingreso</th>
                    <th>Activo</th>
                    <th colspan="2" class="text-center">
			<a href="/batch/new" class="btn btn-outline-light px-4"> 
			<i class="far fa-plus-square fa-lg mr-2"></i> Agregar
			</a></th>   
		</tr>
		</thead>
	<tbody>
		<tr th:each="batch : ${batches}">
		    <td><span th:text="${batch.idBatch}"/></span></td>
			<td><span th:text="${batch.product.idProduct}" /></td>
			<td><span th:text="${batch.quantity}" /> </td>
			<td><span th:text="${batch.quantities}" /> </td>
			<td><span th:text="${batch.date}" /> </td>
			<td><span th:text="${batch.active}" /> </td>
 
			<td><a th:href="@{/batch/{idBatch}(idBatch=${batch.idBatch})}"
				class="btn btn-outline-secondary px-4"><i
					class="far fa-edit fa-lg mr-1"></i> Ver</a></td>
		</tr>
	  </tbody>
	
     </table>
            </div>
</body>
</html>