 <html>
  <head>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    
    <body>
    
       <nav class="site-header sticky-top py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                </a>
              <a class="py-2 d-md-inline-block" href="/client">Adm.Clientes</a> 
                <a class="py-2 d-md-inline-block" href="/employee">Adm.Empleados</a>
                <a class="py-2 d-md-inline-block" href="/person">Adm.Personas</a> 
                <a class="py-2 d-md-inline-block" href="/store">Adm.Locales</a>
                <a class="py-2 d-md-inline-block" href="/product">Adm.Productos</a>
                <a class="py-2 d-md-inline-block" href="/batch">Adm.Lotes</a>
            </div>
        </nav>
        
        <h2>Actualizacion de Empleados</h2>
  <div class="card bg-light col-md-7 mt-5 p-3 mx-auto">  
   <form action="#" th:action="@{/employee/update}" th:object="${employee}"
	method="post">
	<input type="hidden" th:field="*{id}" />
	
             <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" name="name"  value="" th:field="*{name}" placeholder="Escribi tu nombre..." >
            </div>
            
             <div class="form-group">
                <label for="surname">Apellido</label>
                <input type="text" class="form-control" name="surname"  value="" th:field="*{surname}" placeholder="Escribi tu apellido..." >
            </div>
            
            <div class="form-group">
                <label for="dateBirth">Fecha de Nacimiento</label>
                <input type="date" class="form-control" name="dateBirth"  value="" th:field="*{dateBirth}" placeholder="Escribi tu Fecha de Nacimiento..." >
            </div>
            
            <div class="form-group">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" name="dni"  value="" th:field="*{dni}" placeholder="Escribi tu DNI..." >
              </div>   
              <div class="form-group">
                <label for="manager">Gerente</label>
                <input type="text" class="form-control" name="manager"  value="" th:field="*{manager}" placeholder="¿Es gerente?..." >
            </div>
            
            <div class="form-group">
                <label for="starTime">Hora de inicio</label>
                <input type="text" class="form-control" name="startTime"  value="" th:field="*{startTime}" placeholder="Ingresar hora de inicio..." >
            </div>
            
            <div class="form-group">
                <label for="endTime">Hora de finalizacion</label>
                <input type="text" class="form-control" name="endTime"  value="" th:field="*{endTime}" placeholder="Ingresar hora de finalizacion..." >
            </div>
            
            <div class="form-group">
                <label for="basicSalary">Salario basico</label>
                <input type="text" class="form-control" name="basicSalary"  value="" th:field="*{basicSalary}" placeholder="Ingresar salario basico..." >
            </div>
            
            
            
            <div class="form-group">
                <label for="commission">Comision</label>
                <input type="text" class="form-control" name="commission"  value="" th:field="*{commission}" placeholder="Ingresar comision: " >
            </div>  
             
        </div>
	<input class="update" type="submit" value="Editar Persona" />
</form>
<form action="#" th:action="@{/employee/delete/{id}(id=${employee.id})}" method="post">
	<input class="update" type="submit" value="Borrar Persona" />
</form>
</div>

    
    </body>
</html>