  <html>
  <head>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    
    <body>
    
   <form action="#" th:action="@{/producto/update}" th:object="${producto}"
	method="post">
	<input type="hidden" th:field="*{idProducto}" />
	</p>
	<p>
	    Descripcion: <input type="text" th:field="*{descripcion}" />
	    Precio: <input type="text" th:field="*{precio}" />
	    Talle: <input type="text" th:field="*{talle}" />
	    
		
	</p>
	<input type="submit" value="Editar Producto" />
</form>
<form action="#" th:action="@{/producto/delete/{id}(id=${producto.idProducto})}" method="post">
	<input type="submit" value="Borrar Producto" />
</form>


    
    </body>
</html> 