html {
    position: relative;
    min-height: 100%;
    
}
body {
    background-image: url(https://freefrontend.com/assets/img/css-background-patterns/simple-pattern-with-css3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

/*
 * Custom translucent site header
 */
.site-header {
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #999;
    transition: ease-in-out color 0.15s;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/*
*  main
*/
main {
    margin-top: 30px;
}

.img50 {
    width: 50%;
}

/*
*  Custom footer
*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    text-align: center;
    color: #fff;
}

.table {
	background-color:white;
	margin-top:40px;
}

h2{
	margin-left:40%;
	margin-top:200px;
	
}