<table border="1px">
	<thead>
		<tr>
			<th>IdProducto</th>
			
			<th>Cantidad</th>
			
			<th>CantidadTotal</th>
			
			<th>View</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="lote : ${lotes}">
		    <td><span th:text="${lote.producto.idProducto}" /></td>
			<td><span th:text="${lote.cantidad}" /></td>
			<td><span th:text="${lote.cantidadTotal}" /></td>
		    <td>
				<a th:href="@{/lote/{id}(id=${lote.idlote})}">View</a>
			</td>
		</tr>
	</tbody>
</table>
<a href="/lote/new">Create new Lote</a>