<header>
  <div class="divPrincipal">

   <form action="#" th:action="@{/lote/create}" th:object="${lote}" method="post">
	<p>Cantidad: <input type="text" th:field="*{cantidad}" /></p>
	<p>Cantidad Total: <input type="text" th:field="*{cantidadTotal}" /></p>
	<p>Producto:</p>
	
	<select placeholder="producto" th:field="*{producto.id}">
	  <option th:each="p : ${productos}" th:value="${p.id}" th:text="${p.descripcion}"></option>
	</select>
	
	<input class="btn btn-primary" type="submit" value="crear"/>
   </form>
   </div>
</header>