<form action="#" th:action="@{/lote/update}" th:object="${lote}"
	method="post">
	<input type="hidden" th:field="*{idLote}" />
	
	<p>
	   Cantidad: <input type="text" th:field="*{cantidad}" />
	</p>
	
	<p>
	   CantidadTotal: <input type="text" th:field="*{cantidadTotal}" />
	</p>
	<p>
	   Producto: 
	</p>
	
	<select placeholder="producto" th:field="*{producto.idProducto}">
	  <option th:each="p : ${productos}" th:value="${p.idProducto}" th:text="${p.descripcion}"></option>
	</select>
	
	<p>
	   fechaIngreso: <input type="text" th:field="*{fechaIngreso}" />
	</p>
	<input type="submit" value="Edit" />
</form>
<form action="#" th:action="@{/lote/delete/{idLote}(idLote=${lote.idLote})}" method="post">
	<input type="submit" value="delete lote" />
</form>