 <!doctype html>
<html lang="en">
<head>
     <link rel="stylesheet" href="/css/estilos.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <!-- Navigation -->
     <nav class="site-header sticky-top py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                </a> 
                
               <a class="py-2 d-md-inline-block" href="/client">Adm.Clientes</a> 
                <a class="py-2 d-md-inline-block" href="/employee">Adm.Empleados</a>
                <a class="py-2 d-md-inline-block" href="/person">Adm.Personas</a> 
                <a class="py-2 d-md-inline-block" href="/store">Adm.Locales</a>
                <a class="py-2 d-md-inline-block" href="/product">Adm.Productos</a>
                <a class="py-2 d-md-inline-block" href="/batch">Adm.Lotes</a>
                <a class="py-2 d-md-inline-block" href="/pedido">Adm.Pedidos</a>
                <a class="py-2 d-md-inline-block" href="/stockRequest">Adm.Stock</a> 
                
            </div>
        </nav>
        <h2>Ranking de Productos</h2>
        
        <table class="table table-bordered table-stripped table-hover table-sm">
     
            <thead class="thead-dark">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad Vendida</th>
                   
                    
       
                    
                   
                </tr>
	<tbody>
		<tr th:each="r : ${rankingProductos}">
			<td><span th:text="${r.descripcion}" /></td>
            <td><span th:text="${r.cantidadVendida}" /></td>
			
			
			

		</tr>
	</tbody>
</table>